@import "tailwindcss";
@config "../../tailwind.config.mjs";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-primary font-sans antialiased;
    line-height: 1.6;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
