---
import DemoModal from '../components/demo/DemoModal.astro';
import DemoBanner from '../components/demo/DemoBanner.astro';
import DemoLink from '../components/demo/DemoLink.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Modern Photography Portfolio</title>
  </head>
  <body>
    <DemoBanner />
    <h1>Astro Setup Complete</h1>
    <nav>
      <DemoLink href="https://instagram.com/masurii">Instagram</DemoLink>
    </nav>
    <DemoModal />
  </body>
</html>
